{% extends "admin-panel.html" %}

{% block adminblock %}
<p class="settings-title">{{title}}</p>
<div class="settings">
    <form action="" method="post">
        <div class="main">
            {% if message %}
            {% if result %}
            <p class="message-success">{{message}}</p>
            {% else %}
            <p class="message-error">{{message}}</p>
            {% endif %}
            {% endif %}
            {{ form.hidden_tag() }}
            {{ form.name.label }}<br>
            {{ form.name(class="form-control") }}<br>
            {% for error in form.name.errors %}
            <div class="alert alert-danger" role="alert">
                {{ error }}
            </div>
            {% endfor %}

            {{ form.surname.label }}<br>
            {{ form.surname(class="form-control") }}<br>
            {% for error in form.surname.errors %}
            <div class="alert alert-danger" role="alert">
                {{ error }}
            </div>
            {% endfor %}

            {{ form.email.label }}<br>
            {{ form.email(class="form-control") }}<br>
            {% for error in form.email.errors %}
            <div class="alert alert-danger" role="alert">
                {{ error }}
            </div>
            {% endfor %}

            {% if f %}
            <label>Права доступа</label>
            <select name="status" class="form-control" id="status">
                {% for role in roles %}
                {% if admin_status == loop.index - 1 %}
                <option value="{{loop.index - 1}}" selected="selected">{{role}}</option>
                {% else %}
                <option value="{{loop.index - 1}}">{{role}}</option>
                {% endif %}
                {% endfor %}
            </select><br>
            {% endif %}

            {% if flag %}
                {{ form.password.label }}<br>
                {{ form.password(class="form-control", type="password") }}<br>
                {% for error in form.password.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
                {% endfor %}

                {{ form.password_again.label }}<br>
                {{ form.password_again(class="form-control", type="password") }}<br>
                {% for error in form.password_again.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
                {% endfor %}
            {% endif %}
            <div class="submit-block">
                <button class="element-exit"><a href=/admin-list-admin>Назад</a></button>
                {{ form.submit(type="submit", class="btn btn-primary submit") }}
            </div>
        </div>
    </form>
</div>
{% endblock %}
