{% extends "admin-panel.html" %}

{% block adminblock %}
<p class="settings-title">{{title}}</p>
<div class="settings">
    <form action="" method="post" enctype=multipart/form-data>
        <div class="main">
            {% if message %}
            {% if result %}
            <p class="message-success">{{message}}</p>
            {% else %}
            <p class="message-error">{{message}}</p>
            {% endif %}
            {% endif %}
            
            {{ form.hidden_tag() }}
            
            {{ form.address.label }}<br>
            {{ form.address(class="form-control") }}<br>
            {% for error in form.address.errors %}
            <div class="alert alert-danger" role="alert">
                {{ error }}
            </div>
            {% endfor %}
            
            <div class="submit-block">
                <button class="element-exit"><a href=/admin-footer-settings>Назад</a></button>
                {{ form.submit(type="submit", class="btn btn-primary submit") }}
            </div>
        </div>
    </form>
</div>
{% endblock %}
