*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

button { border: none; }
button:focus { outline: none; }

body {
    padding-top: 50px;
    min-height: 100vh;
    background: #f4f4f4;
    display: flex;
    flex-direction: column;
}

#toTop {
    position absolute;
    font-size: 30px;

}

.stop-scroll {
    overflow: hidden;
}

div.visible {
    display: block;
}

p {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

a {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    color: inherit;
    text-decoration: none;
    letter-spacing: 1.3px;
}

.navigation {
    overflow-y: visible;
    display: none;
    position: fixed;
    width: 100%;
    height: calc(100% - 50px);
	top: 50;
	left: 0;
	z-index: 20;
    background: rgba(0,0,0,.9);
}

.navigation-hrefs {
    overflow-y: auto;
    height: 100%;
    display: flex;
    padding-top: 54px;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.navigation-hrefs a {
    padding: 10px;
    color: white;
    font-size: 18px;
}

.navigation-hrefs a:hover {
    color: #eca137;
    text-decoration: underline;
}

div.visible {
    display: block;
}

header {
    position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 20;
    height: 50px;
    background: #1e2f37;
    display: flex;
    justify-content: flex-end;
}

header img {
    height: 45px;
}

.main-news {
    width: 100%;
}

.main-news-item {
    width: 100%;
    position: relative;
    padding-bottom: 35%;
    background-size: cover;
    background-position: center;
}

.main-news-container {
    position: absolute;
    z-index: 20;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.main-news-container img {
    padding-left: 5%;
    height: 150px;
}

.main-news-text {
    padding-left: 30px;
    color: white;
}

.main-news-text p:first-child {
    font-size: 32px;
    margin-bottom: 5px;
    font-family: 'Oswald';
    font-width: 400;
    letter-spacing: 2px;
}

.main-news-text p:last-child {
    margin: 0;
    font-size: 18px;
    letter-spacing: 2px;
}

.main-news-item:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,.5);
    z-index: 2;
}

.partner-item {
    height: 80px;
    width: 288px;
    padding: 0 10px;
}

.partner-item div {
    width: 100%;
    display: flex;
    align-items: center;
}

.partner-item-image {
    height: 75px;
    display: inline-block;
    width: 75px;
    border-radius: 10px;
    margin-right: 10px;
}

.partner-item-text {
    width: calc(100% - 80px);
    font-size: 28px;
    vertical-align: middle;
    line-height: 1.1;
    margin-bottom: 2px;
    font-family: 'Oswald';
    font-width: 500;
    letter-spacing: 1px;
}

.news-2, .news {
    color: white;
    margin-bottom: calc(var(--bs-gutter-x));
    border-radius: 15px;
    padding: 15px;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
}

.news-img {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-size: cover;
    background-position: center;
    z-index: -1;
}

.news-img:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0,.7);
  z-index: 2;
  transition: background 0.2s ease;
}

.news-title {
    margin: 10px 0;
    flex: 0 0;
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    font-size: 24px;
    letter-spacing: 1.2px;
}

.news-text {
    padding-top: 40px;
    padding: 10px 0;
    flex: 1 0;
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    letter-spacing: 1px;
}

.date {
    color: #eca137;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    text-decoration: underline;
    letter-spacing: 1px;
}

.news-2:hover .news-img:after, .news:hover .news-img:after {
    background: rgba(0,0,0,.8);
}

.news-2 {
    height: calc(680px + var(--bs-gutter-x));
}
.news {
    height: 340px;
}

.more-news {
    text-align: center;
    padding: 15px 0;
}

.more-news button {
    font-size: 24px;
    margin: 10px;
    background: transparent;
    padding: 10px 13px;
    color: black;
    border-radius: 13px;
    font-weight: 500;
    font-family: 'Open Sans', sans-serif;
    outline: none;
    border: 1px solid black;
}

.title {
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
}

.main-block {
    flex: 1 0 auto;
}

.max-display-block {
    max-width: 1440px;
    margin: auto;
}

footer {
    padding: 30px 0;
    flex: 0 0;
    background: #1e2f37;
    color: white;
}

footer p {
    margin-bottom: 0.25rem;
    letter-spacing: 1.5px;
}

.footer-header {
    margin-top: 0.5rem;
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    font-size: 24px;
    letter-spacing: 1.3px;
}

.footer-title {
    margin-top: 0.5rem;
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    font-size: 1.15rem;
    letter-spacing: 1.2px;
}

.social {
    display: inline-block;
}

.social * {
    display: inline-block;
}

.social a {
    margin: 10px;
    margin-right: 0;
    margin-top: 0;
}

.social img {
    height: 30px;
}

@media (max-width:767px) {
    .main-news-text p:first-child,
    .partner-item-text p:first-child,
    .news-title,
    .title,
    .footer-title {
        font-weight: 400;
    }

}

#nav-icon2 {
  width: 40px;
  height: 37px;
  position: relative;
  margin: 8px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}

#nav-icon2 span {
  display: block;
  position: absolute;
  height: 5px;
  width: 50%;
  background: white;
  opacity: 1;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

#nav-icon2 span:nth-child(even) {
  left: 50%;
  border-radius: 0 5px 5px 0;
}

#nav-icon2 span:nth-child(odd) {
  left:0px;
  border-radius: 5px 0 0 5px;
}

#nav-icon2 span:nth-child(1), #nav-icon2 span:nth-child(2) {
  top: 0px;
}

#nav-icon2 span:nth-child(3), #nav-icon2 span:nth-child(4) {
  top: 13px;
}

#nav-icon2 span:nth-child(5), #nav-icon2 span:nth-child(6) {
  top: 26px;
}

#nav-icon2.open span:nth-child(1),#nav-icon2.open span:nth-child(6) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#nav-icon2.open span:nth-child(2),#nav-icon2.open span:nth-child(5) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#nav-icon2.open span:nth-child(1) {
  left: 5px;
  top: 5px;
}

#nav-icon2.open span:nth-child(2) {
  left: calc(50% - 2px);
  top: 5px;
}

#nav-icon2.open span:nth-child(3) {
  left: -50%;
  opacity: 0;
}

#nav-icon2.open span:nth-child(4) {
  left: 100%;
  opacity: 0;
}

#nav-icon2.open span:nth-child(5) {
  left: 5px;
  top: 20px;
}

#nav-icon2.open span:nth-child(6) {
  left: calc(50% - 2px);
  top: 20px;
}

.news-header {
    font-size: 56px;
    font-width: 400;
    font-family: 'Oswald', sans-serif;
    text-align: center;
}

.render-text {
    color: black;
    margin: 30px 0;
}
.render-text a {
    text-decoration: underline;
    color: inherit;
}
.render-text a:hover {
    color: inherit;
}
.render-text .title {
    width: 100%;
    text-align: center;
    font-size: 35px;
    font-width: 400;
}
.render-text p {
    font-size: 21px;
}
.render-text div {
    text-align: center;
    margin: 10px 0;
}
.render-text img {
    width: 70%;
    border-radius: 15px;
}
