.page-title {
    font-family: 'Oswald', sans-serif;
    text-align: center;
    padding: 30px;
    font-size: 32px;
}

.partners-text {
    font-size: 18px;
    font-weight: 400;
    padding-bottom: 30px;
    letter-spacing: 0.5px;
}

.partner {
    overflow-x: auto;
    position: fixed;
    left: 0;
    top: 50px;
    width: 100%;
    height: calc(100% - 50px);
    background: rgba(0,0,0,.9);
    display: none;
    z-index: 1;
}

.partner-Pop-up {
    position: relative;
    z-index: 2;
    font-size: 18px;
    letter-spacing: 0.8px;
    max-width: 767px;
    margin: 50px auto;
    padding: 10px;
    background: white;
    border-radius: 10px;
}

.partner-Pop-up-header {
    display:flex;
    align-items: center;
    margin-bottom: 30px;
}


.partner-Pop-up-footer {
    display: flex;
    justify-content: flex-end;
}

.partner-Pop-up-footer a { text-decoration: underline; }
.partner-Pop-up-footer a { cursor: pointer; }

.partner-Pop-up-img {
    height: 80px;
    width: 80px;
    border-radius: 40px;
}

.partner-Pop-up-title {
    margin-left: 20px;
    text-decoration: underline;
    font-family: 'Oswald', sans-serif;
    font-size: 32px;
}

.partner-Pop-up-close {
    height: 30px;
    margin-left: auto;
    margin-bottom: auto;
    margin-top: 5px;
    margin-right: 5px;
}

.partner-href:hover, .partner-Pop-up-close {
    cursor: pointer;
    color: inherit;
}

.partner-Pop-up .up {
    position: absolute;
    top: -10000px;
    left: -1000px;
    height: 10000px;
    width: 10000px;
}

.partner-Pop-up .down {
    position: absolute;
    bottom: -50px;
    left: 0;
    height: 10000px;
    width: 100%;
}

.partner-Pop-up .left {
    position: absolute;
    top: 0;
    left: -10000px;
    height: calc(100% + 50px);
    width: 10000px;
}

.partner-Pop-up .right {
    position: absolute;
    top: 0;
    right: -10000px;
    height: calc(100% + 50px);
    width: 10000px;
}