<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <link rel="preconnect" href="https://fonts.googleapis.com/">
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@400&display=swap" rel="stylesheet">
    <title>Упс 404(</title>
    <link href="static/css/errors.css" rel="stylesheet">
</head>
<body>
    <div class="error">
        <p class="error-name">Error: 401(</p>
        <p class="error-text">Вы кто такие<br>У ВАС нет прав<br>Идите на главную<br><a href="/">Сюда</a></p>
    </div>
</body>
</html>