{% extends "admin-panel.html" %}

{% block adninhead %}
<title>Редактировние новости</title>
{% endblock %}

{% block adminblock %}
<p class="settings-title">{{title}}</p>
<div class="settings">
    <p>Список админов</p>
    <div class="settings-add">
        <a class="settings-element-add" href="/admin-create-admin">Добавить</a>
    </div>
    {% for admin in adminlist %}
    <div class="settings-element">
        <p class="settings-element-title">{{admin['name']}} {{admin['surname']}}</p>
        <a class="settings-element-edit" href="/admin-edit-admin/{{admin['id']}}">Изменить</a>
        <a class="settings-element-delete" href="/admin-delete-admin/{{admin['id']}}">Удалить</a>
    </div>
    {% endfor %}
</div>
{% endblock %}

{% block adminend %}
{% endblock %}