{% extends "admin-panel.html" %}

{% block adminblock %}
<p class="settings-title">{{title}}</p>
<div class="settings">
    <form action="" method="post">
        <div class="main">
            {% if message %}
            {% if result %}
            <p class="message-success">{{message}}</p>
            {% else %}
            <p class="message-error">{{message}}</p>
            {% endif %}
            {% endif %}
            {{ form.hidden_tag() }}

            {{ form.password_current.label }}<br>
            {{ form.password_current(class="form-control", type="password") }}<br>
            {% for error in form.password_current.errors %}
            <div class="alert alert-danger" role="alert">
                {{ error }}
            </div>
            {% endfor %}

            {{ form.password.label }}<br>
            {{ form.password(class="form-control", type="password") }}<br>
            {% for error in form.password.errors %}
            <div class="alert alert-danger" role="alert">
                {{ error }}
            </div>
            {% endfor %}

            {{ form.password_again.label }}<br>
            {{ form.password_again(class="form-control", type="password") }}<br>
            {% for error in form.password_again.errors %}
            <div class="alert alert-danger" role="alert">
                {{ error }}
            </div>
            {% endfor %}

            <div class="submit-block">
                <a class="element-exit" href=/admin-list-admin>☚</a>
                {{ form.submit(type="submit", class="btn btn-primary submit") }}
            </div>
        </div>
    </form>
</div>
{% endblock %}
