{% extends "main.html" %}

{% block head %}
<link href="/static/css/admin-panel.css" rel="stylesheet">
{% block adninhead %}{% endblock %}
{% endblock %}

{% block header %}
<div id="nav-icon1" class="open left-burger">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
</div>
{% endblock %}

{% block pageblock %}
<div class="admin-nav-block">
    <a name="SeoSettings" class="admin-nav" href="/admin-seo-settings">
        <div>Настройки сайта</div>
    </a>
    <a name="FooterSettings" class="admin-nav" href="/admin-footer-settings">
        <div>Настройки подвала</div>
    </a>
    <a name="Admins" class="admin-nav" href="/admin-list-admin">
        <div>Админы</div>
    </a>
    <a name="SmartPages" class="admin-nav" href="/admin-list-smartpage/0">
        <div>Страницы</div>
    </a>
    <a name="News" class="admin-nav" href="/admin-list-news">
        <div>Новости</div>
    </a>
    <a name="Workers" class="admin-nav" href="/admin-list-worker">
        <div>Сотрудники</div>
    </a>
    <a name="Member" class="admin-nav" href="/admin-list-member">
        <div>Партнёры</div>
    </a>
    <a name="Partners" class="admin-nav" href="/admin-list-partner">
        <div>Участники</div>
    </a>
    <a name="Auditlogs" class="admin-nav" href="/admin-list-auditlog">
        <div>Журнал аудита</div>
    </a>
    <a name="Feedbacks" class="admin-nav" href="/admin-list-feedback">
        <div>Отзывы</div>
    </a>
</div>
<div class="admin-settings-block">
    <div class="admin-settings">
        <div class="container">
            {% block adminblock %}{% endblock %}
        </div>
    </div>
</div>
{% endblock %}

{% block end %}
<script src="/static/js/admin.js"></script>
<script src="/static/js/admin-close-panel.js"></script>
{% block adminend %}{% endblock %}
{% endblock %}
