{% extends "admin-panel.html" %}

{% block adminblock %}
<div class="admin-settings">
    <p class="settings-title">{{title}}</p>
    <div class="settings">
        <form action="" method="post">
            <p>Вы уверены, что хотите удалить {{name}}</p>
            <div class="main">
                {{ form.hidden_tag() }}
                <div class="submit-block">
                    {{ form.submit(type="submit", class="btn btn-primary submit") }}
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}