{% extends "admin-panel.html" %}

{% block adminblock %}
<div class="admin-settings">
    <p class="settings-title">{{title}}</p>
    <div class="settings">
        <form action="" method="post">
            <div class="main">
                {{ form.hidden_tag() }}
                {{ form.name.label }}<br>
                {{ form.name(class="form-control") }}<br>
                {% for error in form.name.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
                {% endfor %}

                {{ form.surname.label }}<br>
                {{ form.surname(class="form-control") }}<br>
                {% for error in form.surname.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
                {% endfor %}

                {{ form.email.label }}<br>
                {{ form.email(class="form-control") }}<br>
                {% for error in form.email.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
                {% endfor %}

                {{ form.hidden_tag() }}
                {{ form.status.label }}<br>
                {{ form.status(class="form-control") }}<br>
                {% for error in form.status.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
                {% endfor %}

                {% if flag %}
                    {{ form.password.label }}<br>
                    {{ form.password(class="form-control", type="password") }}<br>
                    {% for error in form.password.errors %}
                    <div class="alert alert-danger" role="alert">
                        {{ error }}
                    </div>
                    {% endfor %}

                    {{ form.password_again.label }}<br>
                    {{ form.password_again(class="form-control", type="password") }}<br>
                    {% for error in form.password_again.errors %}
                    <div class="alert alert-danger" role="alert">
                        {{ error }}
                    </div>
                    {% endfor %}
                {% endif %}
                <div class="submit-block">
                    {{ form.submit(type="submit", class="btn btn-primary submit") }}
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}
