{% extends "main.html" %}

{% block head %}
<link href="/static/css/admin-panel.css" rel="stylesheet">
{% block adninhead %}{% endblock %}
{% endblock %}

{% block pageblock %}
<div class="admin-nav-block">
    <a name="SEO" class="admin-nav" href="">
        <div>SEO</div>
    </a>
    <a name="News" class="admin-nav" href="/admin-list-news">
        <div>Новости</div>
    </a>
    <a name="Admins" class="admin-nav" href="/admin-list-admin">
        <div>Админы</div>
    </a>
    <a name="SmartPages" class="admin-nav" href="/admin-list-smartpage">
        <div>Страницы</div>
    </a>
    <a name="Partners" class="admin-nav" href="/admin-list-partner">
        <div>Партнёры</div>
    </a>
    <a name="Auditlogs" class="admin-nav" href="/admin-list-auditlog">
        <div>Журнал аудита</div>
    </a>
    <a name="Feedbacks" class="admin-nav" href="/admin-list-feedback">
        <div>Отзывы</div>
    </a>
</div>
<div class="admin-settings-block">
    <div class="admin-settings">
        {% block adminblock %}{% endblock %}
    </div>
</div>
{% endblock %}

{% block end %}
<script src="/static/js/admin.js"></script>
{% block adminend %}{% endblock %}
{% endblock %}
