{% extends "admin-panel.html" %}

{% block adminblock %}
<p class="settings-title">{{title}}</p>
<div class="settings">
    <form action="" method="post" enctype=multipart/form-data>
        <div class="main">
            {% if message %}
            {% if result %}
            <p class="message-success">{{message}}</p>
            {% else %}
            <p class="message-error">{{message}}</p>
            {% endif %}
            {% endif %}
            {{ form.hidden_tag() }}
            {{ form.heading.label }}<br>
            {{ form.heading(class="form-control") }}<br>
            {% for error in form.heading.errors %}
            <div class="alert alert-danger" role="alert">
                {{ error }}
            </div>
            {% endfor %}

            {{ form.text.label }}<br>
            {{ form.text(class="form-control") }}<br>
            {% for error in form.text.errors %}
            <div class="alert alert-danger" role="alert">
                {{ error }}
            </div>
            {% endfor %}

            {{ form.tags.label }}<br>
            {{ form.tags(class="form-control") }}<br>
            {% for error in form.tags.errors %}
            <div class="alert alert-danger" role="alert">
                {{ error }}
            </div>
            {% endfor %}

            <p>Изображения</p>
            <div class="settings-images">
                <div id="images1">
                    {% if filenames %}
                    {% for filename in filenames %}
                    <div class="input-file-row-1">
                        <div class="upload-file-container">
                            <div class="delete-image"></div>
                            <img id="image{{loop.index}}" class="visible" src="/static/img/{{filename}}" alt="">
                            <input type=file name=image{{loop.index}} class="photo" id="imgInput{{loop.index}}">
                        </div>
                    </div>
                    {% endfor %}
                    {% endif %}
                    <div class="input-file-row-1">
                        <div class="upload-file-container">
                            <div class="delete-image hidden"></div>
                            <img id="image{{image_len}}" class="this-is-image" src="#" alt="">
                            <input type=file name=imgInput{{image_len}} class="photo" id="imgInput{{image_len}}">
                        </div>
                    </div>
                </div>
            </div>
            <div class="submit-block">
                {{ form.preview(type="submit", class="btn btn-primary submit") }}
            </div>
            <div class="submit-block">
                {{ form.submit(type="submit", class="btn btn-primary submit") }}
            </div>
        </div>
    </form>
    {% if preview_text %}
        {{preview_text|safe}}
    {% endif %}
</div>
{% endblock %}
