{% extends "admin-panel.html" %}

{% block adninhead %}
<title>Удалить {{name}}</title>
{% endblock %}

{% block adminblock %}
<p class="settings-title">{{title}}</p>
<div class="settings">
    <form action="" method="post">
        <p>Вы уверены, что хотите удалить {{name}}</p>
        {% if message %}
        {% if result %}
        <p class="message-success">{{message}}</p>
        {% else %}
        <p class="message-error">{{message}}</p>
        {% endif %}
        {% endif %}
        <div class="main">
            {{ form.hidden_tag() }}
            <div class="submit-block">
                <button class="element-exit"><a href={{link_back}}>Назад</a></button>
                {{ form.submit(type="submit", class="btn btn-primary submit") }}
            </div>
        </div>
    </form>
</div>
{% endblock %}

{% block adminend %}
{% endblock %}