{% extends "generated-page.html" %}

{% block headext %}
{% endblock %}

{% block pageblockext %}
    <div class="search">
        <input name="text" class="findtext">
        <input type="button" class="search-button" onclick="searching_text()">
    </div>
    <div class="row" id="news">
        {% for news in special_params["news"] %}
        <div class="col-sm-12 col-md-6 col-lg-4">
            <a href="/news-page/{{news['link']}}">
                <div class="news">
                    <div class="news-img"
                         style="background-image: url('/static/img/{{news['image'].split('//')[0]}}');"></div>
                    <div class="news-title">{{news['heading']}}</div>
                    <div class="news-text">{{news['mini_text']}}</div>
                    <div class="news-navigation">
                        <span class="date">{{news['created_date']}}</span>
                    </div>
                </div>
            </a>
        </div>
        {% endfor %}
    </div>
    <div class="more-news">
        <a class="load-news" onclick="add_news()">
            <button>Больше новостей</button>
        </a>
    </div>
{% endblock %}

{% block endext %}
{% endblock %}
