{% extends "main.html" %}

{% block head %}
<link href="/static/css/slick.css" rel="stylesheet">
<link href="/static/css/slick-theme.css" rel="stylesheet">
{% endblock %}

{% block pageblock %}
<div class="container">
    <div class="carousel">
        <img src="static/img/partner-1.jpg" alt="fermaroigas">
        <img src="static/img/partner-1.jpg" alt="fermaroigas">
        <img src="static/img/partner-1.jpg" alt="fermaroigas">
        <img src="static/img/partner-1.jpg" alt="fermaroigas">
        <img src="static/img/partner-1.jpg" alt="fermaroigas">
    </div>
</div>
{% endblock %}

{% block end %}
<script src="static/js/slick.js"></script>
<script>
    var boolAutoplay = true
    var speedPartners = 2000

    $(document).ready(function(){
        $('.carousel').slick({
            dots: false,
            infinite: true,
            autoplay: boolAutoplay,
            autoplaySpeed: speedPartners,
            slidesToShow: 4,
            draggable: true,
            arrows: false,
            swipeToSlide: true,
            responsive: [
                {
                  breakpoint: 541,
                  settings: {
                    slidesToShow: 1
                  }
                },
                {
                  breakpoint: 769,
                  settings: {
                    slidesToShow: 2
                  }
                },
                {
                  breakpoint: 1025,
                  settings: {
                    slidesToShow: 3
                  }
                },
                {
                  breakpoint: 1300,
                  settings: {
                    slidesToShow: 4
                  }
                }
            ]
        });
    });
</script>
{% endblock %}