{% extends "generated-page.html" %}

{% block headext %}
<script type="text/javascript">
    ymaps.ready(function () {
        myMap2 = new ymaps.Map('contacts-map', {
        center: [{{coords}}],
        zoom: 9
        }, {
            searchControlProvider: 'yandex#search'
        })

        myPlacemark = new ymaps.Placemark(partners[i][2], {
            hintContent: partners[i][0],
            balloonContent: partners[i][0]+'<br>'+partners[i][4]+'<br><a href="/'+partners[i][5]+'">сайт</a>'
        }, {
            iconLayout: 'default#image',
            iconImageHref: '/static/img/'+partners[i][1],
            iconImageSize: [80 * partners[i][6], 80],
            iconImageOffset: [-25, -25]
        })

        myMap2.geoObjects.add(myPlacemark);
    })
</script>
{% endblock %}

{% block pageblockext %}
<div class="row">
    <div class="col-md-6 col-sm-12">
        <p class="contacts-title">Адрес</p>
        <p class="contacts-data">адрес компании</p>
    </div>
    <div class="col-md-6 col-sm-12">
        <p class="contacts-title">Почтовый адрес</p>
        <p class="contacts-data">почтовый адресс компании</p>
    </div>
    <div class="col-md-6 col-sm-12">
        <p class="contacts-title">Телефон</p>
        <p class="contacts-data"><a href="tel:+81112223344">+8 (111) 222-33-44</a></p>
    </div>
    <div class="col-md-6 col-sm-12">
        <p class="contacts-title">Почта</p>
        <p class="contacts-data">почта компании</p>
    </div>
    <div class="col-md-6 col-sm-12">
        <p class="contacts-title">Реквизиты</p>
        <p class="contacts-data">реквизиты компании</p>
    </div>
    <div class="col-md-6 col-sm-12">
        <p class="contacts-title">Мы в соц. сетях</p>
    </div>
</div>
<div class="contact-map">
    <div class="map">
        <div id="contacts-map"></div>
    </div>
</div>
<div class="feedback">
    <button class="button-feedback"><a href=/write-feedback/{{code}}>Оставить отзыв</a></button>
</div>
{% endblock %}

{% block endext %}
{% endblock %}
