{% extends "generated-page.html" %}

{% block headext %}
<script type="text/javascript">
    ymaps.ready(function () {
        myMap2 = new ymaps.Map('map', {
            center: [{{", ".join(special_params["our_coord"].split()[::-1])}}],
            zoom: 9
        }, {
            searchControlProvider: 'yandex#search'
        })

        myPlacemark = new ymaps.Placemark([{{", ".join(special_params["our_coord"].split()[::-1])}}], {
            hintContent: "Ассоциация фермеров",
            balloonContent: ""
        }, {
            iconLayout: 'default#image',
            iconImageHref: '/static/img/logo.png',
            iconImageSize: [80, 80],
            iconImageOffset: [-40, -40]
        })

        myMap2.geoObjects.add(myPlacemark);
    })
</script>
{% endblock %}

{% block pageblockext %}
<div class="row">
    <div class="col-md-6 col-sm-12">
        <p class="contacts-title">Адрес</p>
        <p class="contacts-data">{{special_params["address"][0]["place"]}}</p>
    </div>
    <div class="col-md-6 col-sm-12">
        <p class="contacts-title">Почтовый адрес</p>
        <p class="contacts-data">{{special_params["address"][1]["place"]}}</p>
    </div>
    <div class="col-md-6 col-sm-12">
        <p class="contacts-title">Телефон</p>
        {%for number in special_params["numbers"]%}
        <p class="contacts-data"><a href="tel:{{number}}">{{number["number"]}}</a></p>
        {%endfor%}
    </div>
    <div class="col-md-6 col-sm-12">
        <p class="contacts-title">Почта</p>
        {%for email in special_params["emails"]%}
        <p class="contacts-data">{{email["email_address"]}}</p>
        {%endfor%}
    </div>
</div>
<div class="contact-map">
    <div class="map">
        <div id="map"></div>
    </div>
</div>
<div class="feedback">
    <button class="button-feedback"><a href=/write-feedback/{{code}}>Оставить отзыв</a></button>
</div>
{% endblock %}

{% block endext %}
{% endblock %}
