
{% extends "admin-panel.html" %}

{% block head %}
<link href="/static/css/slick.css" rel="stylesheet">
<link href="/static/css/generated-page.css" rel="stylesheet">
<link href="/static/css/subpages.css" rel="stylesheet">
{% if flag_map or contacts %}
<script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU&amp;apikey=7bc1f244-7587-4821-bf8b-651962a49286" type="text/javascript"></script>
{% endif %}
{% if flag_map %}
<script src="/static/js/map.js"></script>
{% endif %}
{% block headext %}{% endblock %}
{% endblock %}

{% block popup %}
{% for partner in special_params["partner"] %}
<div id={{partner["id"]}} class="partner">
    <div class="container">
        <div class="partner-Pop-up">
            <div class="up" onclick="openPopUp({{partner['id']}})"></div>
            <div class="right "onclick="openPopUp({{partner['id']}})"></div>
            <div class="left" onclick="openPopUp({{partner['id']}})"></div>
            <div class="down" onclick="openPopUp({{partner['id']}})"></div>
            <div class="partner-Pop-up-header">
                <img class="partner-Pop-up-img" src="/static/img/{{partner['logo']}}" alt={{partner["name"]}}>
                <p class="partner-Pop-up-title">{{partner["name"]}}</p>
                <img class="partner-Pop-up-close" src="/static/img/close.png" alt="закрыть"
                     onclick="openPopUp({{partner['id']}})">
            </div>
            <div class="partner-image-carousel image-block">
                {% for src in partner['image'].split('//') %}
                <div class="carousel-item">
                    <div style="background-image: url(/static/img/{{src}});"></div>
                </div>
                {% endfor %}
            </div>
            <p>{{partner["text"]}}</p>
            <p><b>Преференции:</b> ВЫ можете узнать о существовании этой Эко-фермы!</p>
            <div class="partner-Pop-up-footer"><a href={{partner["link"]}}>На страничку фермы</a></div>
        </div>
    </div>
</div>
{% endfor %}
{% endblock %}

{% block pageblock %}
{% block fortext %}
<div class="header-carousel">
    {% for src in page['image'].split('//') %}
    <div class="carousel-head">
        <div class="carousel-head-div">
            <img class="carousel-head-img need-change" src="/static/img/{{src}}" alt="">
            <div class="carousel-head-title-div">
                <div class="container">
                    <h1>Новости</h1>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
<div class="container">
    {% for block in content %}
    {% if block['type'] == "News" %}
    <div class="row" id="news">
        {% for news in special_params["news"] %}
        <div class="col-sm-12 col-md-6 col-lg-4">
            <a href="/news-page/{{news['link']}}">
                <div class="news">
                    <div class="news-img"
                         style="background-image: url('/static/img/{{news['image'].split('//')[0]}}');"></div>
                    <div class="news-title">{{news['heading']}}</div>
                    <div class="news-text">{{news['mini_text']}}</div>
                    <div class="news-navigation">
                        <span class="date">{{news['created_date']}}</span>
                    </div>
                </div>
            </a>
        </div>
        {% endfor %}
    </div>
    {% if special_params["news"].length == 9%}
    <div class="more-news">
        <a onclick="add_news()">
            <button>Больше новостей</button>
        </a>
    </div>
    {% endif %}
    {% elif block['type'] == "Text" %}
    <div class="text-block">
        <p>
            {% for text in block['text'].split('\n') %}
            {{text}}<br>
            {% endfor %}
        </p>
    </div>
    {% elif block['type'] == "Image" %}
    <div class="carousel image-block">
        {% for src in block['image'].split('//') %}
        <div class="carousel-item">
            <div style="background-image: url(/static/img/{{src}});"></div>
        </div>
        {% endfor %}
    </div>
    {% elif block['type'] == "Partner" %}
    <div class="row">
        {% for partner in special_params["partner"] %}
        <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3 partner-align">
            <div class="partner-item" onclick="openPopUp({{partner['id']}})">
                <div>
                    <img class="partner-item-image" src="/static/img/{{partner['logo']}}" alt={{partner['id']}}>
                    <p class="partner-item-text">{{partner['name']}}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% elif block['type'] == "Map" %}
    <div class="map-block">
        <div class="map-block-settings">
            <select name="provinces[]" id="provinces">
                <option selected value="all">Все области</option>
                {% for province in special_params["provinces"] %}
                <option value="{{province}}">{{province}}</option>
                {% endfor%}
            </select>
            <select name="occupations[]" id="occupations">
                <option selected value="all">Все направления</option>
                {% for occupation in special_params["occupations"] %}
                <option value="{{occupation}}">{{occupation}}</option>
                {% endfor%}
            </select>
        </div>
        <div class="map">
            <div id="map"></div>
        </div>
    </div>
    {% endif %}
    {% endfor %}
    {% block pageblockext %}{% endblock %}
</div>
{% endblock %}

{% block end %}
<script src="/static/js/slick.js"></script>
<script src="/static/js/subpages-carousel.js"></script>
<script src="/static/js/news.js"></script>
<script src="/static/js/partners.js"></script>
<script src="/static/js/header-carousel.js"></script>
<script type="text/javascript">
    var link_website = "{{special_params["link"]}}"
</script>
{% if flag_map %}
<script type="text/javascript">
    var partners = []
    {% for partner in special_params["partner"] %}
    partners.push(["{{partner["name"]}}", "{{partner["logo"]}}", [{{', '.join(partner["coord"].split()[::-1])}}], "{{partner["province"]}}",[{% for occupation in partner["occupation"].split("//") %}{{('"'+occupation+'", ')|safe}}{% endfor %}],"{{partner["link"]}}", {{partner["ratio"]}}])
    {% endfor %}
    console.log(partners);

    $( document ).ready( function() {
        $('select').change(function(){update_map()});
    })

    function update_map() {
        // console.log(myMap.geoobjects)
        myMap.geoObjects.removeAll()
        var occupations = $('#occupations').val();
        var provinces = $('#provinces').val();
        console.log(occupations, provinces);
        for (var i=0; i < partners.length; i++) {
            if ((partners[i][3] === provinces || provinces === 'all') && (partners[i][4].includes(occupations) || occupations === 'all')) {
                myPlacemark = new ymaps.Placemark(partners[i][2], {
                    hintContent: partners[i][0],
                    balloonContent: partners[i][0]+'<br>'+partners[i][4]+'<br><a href="/'+partners[i][5]+'">сайт</a>'
                }, {
                    // Опции.
                    // Необходимо указать данный тип макета.
                    iconLayout: 'default#image',
                    // Своё изображение иконки метки.
                    iconImageHref: '/static/img/'+partners[i][1],
                    // Размеры метки.
                    iconImageSize: [80 * partners[i][6], 80],
                    // Смещение левого верхнего угла иконки относительно
                    // её "ножки" (точки привязки).
                    iconImageOffset: [(80 * partners[i][6]) / 2, -40]
                })

                myPlacemark.events.add('click', function () {
                    console.log('О, событие!');
                });

                myMap.geoObjects.add(myPlacemark);
            }
        }
    }
</script>
{% endif %}
{% block endext %}{% endblock %}
{% endblock %}
