{% extends "admin-panel.html" %}

{% block head %}
<link href="/static/css/slick.css" rel="stylesheet">
<link href="/static/css/slick-theme.css" rel="stylesheet">
<link href="/static/css/generated-page.css" rel="stylesheet">
<link href="/static/css/subpages.css" rel="stylesheet">
{% block headext %}{% endblock %}
{% endblock %}

{% block popup %}
{% for partner in special_params["partner"] %}
<div id={{partner["id"]}} class="partner">
    <div class="container">
        <div class="partner-Pop-up">
            <div class="partner-Pop-up-header">
                <img class="partner-Pop-up-img" src="/static/img/{{partner['logo']}}" alt={{partner["name"]}}>
                <p class="partner-Pop-up-title">{{partner["name"]}}</p>
                <img class="partner-Pop-up-close" src="/static/img/close.png" alt="закрыть"
                     onclick="openPopUp({{partner['id']}})">
            </div>
            <p>{{partner["text"]}}</p>
            <p><b>Преференции:</b> ВЫ можете узнать о существовании этой Эко-фермы!</p>
            <div class="partner-Pop-up-footer"><a href={{partner["link"]}}>На страничку фермы</a></div>
        </div>
    </div>
</div>
{% endfor %}
{% endblock %}

{% block pageblock %}
<div class="header-carousel">
    {% for src in page['image'].split('//') %}
    <div class="carousel-head" style="background-image: url(/static/img/{{src}});"></div>
    {% endfor %}
</div>
<div class="container">
    {% for block in content %}
    {% if block['type'] == "News" %}
    <div class="row" id="news">
        {% for news in special_params["news"] %}
        <div class="col-sm-12 col-md-6 col-lg-4">
            <a href="/news-page/{{news['link']}}">
                <div class="news">
                    <div class="news-img"
                         style="background-image: url('/static/img/{{news['image'].split('//')[0]}}');"></div>
                    <div class="news-title">{{news['heading']}}</div>
                    <div class="news-text">{{news['mini_text']}}</div>
                    <div class="news-navigation">
                        <span class="date">{{news['created_date']}}</span>
                    </div>
                </div>
            </a>
        </div>
        {% endfor %}
    </div>
    <div class="more-news">
        <a onclick="add_news()">
            <button>Все новости</button>
        </a>
    </div>
    {% elif block['type'] == "Text" %}
    <div class="text-block">
        <p>{{block['text']}}</p>
    </div>
    {% elif block['type'] == "Image" %}
    <div class="carousel image-block">
        {% for src in block['image'].split('//') %}
        <div class="carousel-item">
            <div style="background-image: url(/static/img/{{src}});"></div>
        </div>
        {% endfor %}
    </div>
    {% elif block['type'] == "Partner" %}
    <div class="partners-carousel">
        {% for partner in special_params["partner"] %}
        <div class="partner-item" onclick="openPopUp({{partner['id']}})">
                <img class="partner-item-image" src="/static/img/{{partner['logo']}}" alt={{partner['id']}}>
                <p class="partner-item-text">{{partner['name']}}</p>
        </div>
        {% endfor %}
    </div>
    {% endif %}
    {% endfor %}
    {% block pageblockext %}{% endblock %}
</div>
{% endblock %}

{% block end %}
<script src="/static/js/slick.js"></script>
<script src="/static/js/subpages-carousel.js"></script>
<script src="/static/js/news.js"></script>
<script src="/static/js/partners.js"></script>
<script src="/static/js/header-carousel.js"></script>
{% block endext %}{% endblock %}
{% endblock %}
