<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
</head>
<body style="display:flex;justify-content:center;width:100%;">
    <div style="max-width:320px;background-color:#f4f4f4;width:100%;border-radius:15px;overflow:hidden;">
        <div style="height:55px;width:100%;padding-bottom:3px;border-bottom:1px solid #eca137;background:#1e2f37;">
            <img style="height:47px;padding-left:5px;padding-top:5px;" src="https://drive.google.com/file/d/1Lbz1LMB7SD8aOT1UriLLQsgi9qjfprpB/view?usp=sharing" alt="logo">
        </div>
        <h1 style="text-align:center;">Код подтверждения.</h1>
        <p style="font-size:21px;padding:10px 5%;">Ваш код подтверждения: <b>{code}</b>, для написания отзыва на сайте Ассоциация фермеров Московской области, никому не сообщайте его.<br></p>
        <div style="width:100%;padding-top:3px;border-top:1px solid #eca137;background:#1e2f37;">
            <p style="font-size:14px;padding:10px 5%;padding-bottom:20px;color:#eca137;margin:0;text-align:center;">Ассоциация фермеров Московской области</p>
        </div>
    </div>
</body>
</html>a