{% extends "admin-panel.html" %}

{% block head %}
<link href="/static/css/slick.css" rel="stylesheet">
<link href="/static/css/subpages.css" rel="stylesheet">
{% endblock %}

{% block pageblock %}
<div class="container">
    <div class="member-header">
        <div class="member-header-logo"><img src="/static/img/{{partner['logo']}}" alt=""></div>
        <p>{{member['name']}}</p>
    </div>
    <div class="carousel image-block">
        {% for src in member['image'].split('//') %}
            <div class="on-nushen">
                <div class="image-container">
                    <img src="/static/img/{{src}}">
                </div>
            </div>
        {% endfor %}
    </div>
    <p class="member-text">
        {% for line in member["text"].split('\n') %}
        {{line}}<br>
        {% endfor %}
    </p>
    <p class="member-text">Адресс: {{member["adress"]}}</p>
    <div class="member-link">
        <div class="social">
            <p class="footer-title">Мы в соц. сетях:</p>
            {% for socialmedia in social %}
            <a href="{{socialmedia['link']}}" target="_blank"><img src="/static/img/{{socialmedia['icon']}}" alt="socialmedia"></a>
            {% endfor %}
        </div>
        {% if member["link"] != "" %}
        <a href={{member["link"]}}>На сайт фермы</a>
        {% endif %}
    </div>
</div>
{% endblock %}

{% block end %}
<script src="/static/js/slick.js"></script>
<script src="/static/js/subpages-carousel.js"></script>
{% endblock %}