{% extends "admin-panel.html" %}

{% block head %}
<link href="/static/css/slick.css" rel="stylesheet">
<link href="/static/css/subpages.css" rel="stylesheet">
{% endblock %}

{% block pageblock %}
<div class="container">
    <div class="member-header">
        <div class="member-header-logo"><img src="/static/img/{{partner['logo']}}" alt=""></div>
        <p>{{partner['name']}}</p>
    </div>
    <div class="carousel image-block">
        {% for src in partner['image'].split('//') %}
            <div class="on-nushen">
                <div class="image-container">
                    <img src="/static/img/{{src}}">
                </div>
            </div>
        {% endfor %}
    </div>
    <p class="member-text">
        {% for line in partner["info"].split('\n') %}
        {{line}}<br>
        {% endfor %}
    </p>
    <p class="member-text">Адресс: {{partner["address"]}}</p>
    <p class="member-text"><b>Преференции:</b> {% for line in partner["preferences"].split('\n') %}
        {{line}}<br>
        {% endfor %}
    </p>
    <div class="member-link">
        {% if partner["link"] != "" %}
        <a href={{partner["link"]}}>На сайт партнёра</a>
        {% endif %}
    </div>
</div>
{% endblock %}

{% block end %}
<script src="/static/js/slick.js"></script>
<script src="/static/js/subpages-carousel.js"></script>
{% endblock %}