{% extends "generated-page.html" %}

{% block headext %}
{% endblock %}

{% block pageblockext %}
<div class="partners-carousel">
    <div class="partner-item">
        <a class="partner-href" onclick="openPopUp('fermaroigas')">
            <img class="partner-item-image" src="static/img/partner-1.jpg" alt="fermaroigas">
            <div class="partner-item-text">
                <p>fermaroigas</p>
                <p>Эко-Ферма</p>
            </div>
        </a>
    </div>
    <div class="partner-item">
        <a class="partner-href" onclick="openPopUp('fermaroigas')">
            <img class="partner-item-image" src="static/img/partner-1.jpg" alt="fermaroigas">
            <div class="partner-item-text">
                <p>fermaroigas</p>
                <p>Эко-Ферма</p>
            </div>
        </a>
    </div>
    <div class="partner-item">
        <a class="partner-href" onclick="openPopUp('fermaroigas')">
            <img class="partner-item-image" src="static/img/partner-1.jpg" alt="fermaroigas">
            <div class="partner-item-text">
                <p>fermaroigas</p>
                <p>Эко-Ферма</p>
            </div>
        </a>
    </div>
    <div class="partner-item">
        <a class="partner-href" onclick="openPopUp('fermaroigas')">
            <img class="partner-item-image" src="static/img/partner-1.jpg" alt="fermaroigas">
            <div class="partner-item-text">
                <p>fermaroigas</p>
                <p>Эко-Ферма</p>
            </div>
        </a>
    </div>
</div>
{% endblock %}

{% block endext %}
{% endblock %}
