{% extends "generated-page.html" %}

{% block headext %}
{% endblock %}

{% block pageblockext %}
<div class="row">
    <div class="col-xl-4 col-md-6 col-sm-12">
        <div class="teammate">
            <div class="teammate-header">
                <img class="teammate-img" src="/static/img/8LS4iuJfahKs0HkQfhOOA2f0TT8L0YCwwMzbuw8iTaSAjQbWdd.jpg" alt="teammate">
                <div>
                    <p class="teammate-name">Rimsky People</p>
                    <p class="teammate-profession">fuzick men</p>
                </div>
            </div>
            <a href="tel:+81112223344">+8 (111) 222-33-44</a>
            <p>veryverylongmail@maill.com</p>
        </div>
    </div>
    <div class="col-xl-4 col-md-6 col-sm-12">
        <div class="teammate">
            <div class="teammate-header">
                <img class="teammate-img" src="/static/img/8LS4iuJfahKs0HkQfhOOA2f0TT8L0YCwwMzbuw8iTaSAjQbWdd.jpg" alt="teammate">
                <div>
                    <p class="teammate-name">Rimsky People</p>
                    <p class="teammate-profession">fuzick men</p>
                </div>
            </div>
            <a href="tel:+81112223344">+8 (111) 222-33-44</a>
            <p>veryverylongmail@maill.com</p>
        </div>
    </div>
    <div class="col-xl-4 col-md-6 col-sm-12">
        <div class="teammate">
            <div class="teammate-header">
                <img class="teammate-img" src="/static/img/8LS4iuJfahKs0HkQfhOOA2f0TT8L0YCwwMzbuw8iTaSAjQbWdd.jpg" alt="teammate">
                <div>
                    <p class="teammate-name">Rimsky People</p>
                    <p class="teammate-profession">fuzick men</p>
                </div>
            </div>
            <a href="tel:+81112223344">+8 (111) 222-33-44</a>
            <p>veryverylongmail@maill.com</p>
        </div>
    </div>
    <div class="col-xl-4 col-md-6 col-sm-12">
        <div class="teammate">
            <div class="teammate-header">
                <img class="teammate-img" src="/static/img/8LS4iuJfahKs0HkQfhOOA2f0TT8L0YCwwMzbuw8iTaSAjQbWdd.jpg" alt="teammate">
                <div>
                    <p class="teammate-name">Rimsky People</p>
                    <p class="teammate-profession">fuzick men</p>
                </div>
            </div>
            <a href="tel:+81112223344">+8 (111) 222-33-44</a>
            <p>veryverylongmail@maill.com</p>
        </div>
    </div>
</div>
{% endblock %}

{% block endext %}
{% endblock %}
