{% extends "generated-page.html" %}

{% block headext %}
{% endblock %}

{% block pageblockext %}
<div class="row">
    {% for worker in special_params["worker"] %}
    <div class="col-xl-4 col-md-6 col-sm-12">
        <div class="teammate">
            <div class="teammate-img" style="background-image: url(/static/img/{{worker['image']}})"></div>
            <p class="teammate-name">{{worker['name']}}</p>
            <p class="teammate-profession">{{worker['profession']}}</p>
            <p class="teammate-contact">tel: </p><a href="tel:+{{worker['phone']}}">{{worker['phone']}}</a><br>
            <p class="teammate-contact">email: </p><a href="mailto:{{worker['email']}}">{{worker['email']}}</a>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}

{% block endext %}
{% endblock %}
