{% extends "main.html" %}

{% block head %}
<link href="/static/css/slick.css" rel="stylesheet">
<link href="/static/css/slick-theme.css" rel="stylesheet">
<link href="/static/css/subpages.css" rel="stylesheet">
{% endblock %}

{% block pageblock %}
<p class="page-title">Партнёры</p>
<div class="container">
    <p class="partners-text">Наши партнёры, наши самые любимые партнёры. Наши партнёры, наши самые любимые партнёры. Наши партнёры, наши самые любимые партнёры. Эта книга про киборгов которые заполонили планету. А почему книга начинается с середины? Потому что киборги они киборги и они киборги заполонили...)</p>
    <div class="partners-carousel">
        <div class="partner-item">
            <a class="partner-href" onclick="openPopUp('fermaroigas')">
                <img class="partner-item-image" src="static/img/partner-1.jpg">
                <div class="partner-item-text">
                    <p>fermaroigas</p>
                    <p>Эко-Ферма</p>
                </div>
            </a>
        </div>
        <div class="partner-item">
            <a class="partner-href" onclick="openPopUp('fermaroigas')">
                <img class="partner-item-image" src="static/img/partner-1.jpg">
                <div class="partner-item-text">
                    <p>fermaroigas</p>
                    <p>Эко-Ферма</p>
                </div>
            </a>
        </div>
        <div class="partner-item">
            <a class="partner-href" onclick="openPopUp('fermaroigas')">
                <img class="partner-item-image" src="static/img/partner-1.jpg">
                <div class="partner-item-text">
                    <p>fermaroigas</p>
                    <p>Эко-Ферма</p>
                </div>
            </a>
        </div>
        <div class="partner-item">
            <a class="partner-href" onclick="openPopUp('fermaroigas')">
                <img class="partner-item-image" src="static/img/partner-1.jpg">
                <div class="partner-item-text">
                    <p>fermaroigas</p>
                    <p>Эко-Ферма</p>
                </div>
            </a>
        </div>
    </div>
</div>
<div id="fermaroigas" class="partner">
    <div class="container">
        <div>
            <div class="close"></div>
        </div>
        <div class="partner-Pop-up">
            <div class="container">
                <div class="partner-Pop-up-header">
                    <img class="partner-Pop-up-img" src="static/img/partner-1.jpg">
                    <p class="partner-Pop-up-title">fermaroigas</p>
                </div>
                <p>Эко-ферма. Эко-ферма. Эко-ферма. Эко-ферма. Эко-ферма. Эко-ферма. Эко-ферма. Эко-ферма. Эко-ферма. Эко-ферма. Эко-ферма. Эко-ферма. Эко-ферма. Эко-ферма. Эко-ферма. Эко-ферма. Эко-ферма. Эко-ферма. Эко-ферма. Эко-ферма. Эко-ферма. Эко-ферма. Эко-ферма. Эко-ферма. Эко-ферма. Эко-ферма. Эко-ферма. Эко-ферма. Эко-ферма. Эко-ферма. Эко-ферма. Эко-ферма. Эко-ферма.</p>
                <p><b>Преференции:</b> ВЫ можете узнать о существовании этой Эко-фермы!</p>
                <div class="partner-Pop-up-footer"><a>На страничку фермы</a></div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block end %}
<script src="static/js/slick.js"></script>
<script>
    var boolAutoplay = true
    var speedPartners = 2000

    function openPopUp(name) {
        $('#'+name).toggleClass('visible');
    }

    $(document).click(function (e) {
        if (!$('.partner-Pop-up').is(e.target) && $('.partner-Pop-up').has(e.target).length === 0) {
            menu.slideUp();
            menuBtn.removeClass('is-active');
        };
    });

    $(document).ready(function(){
        $('.partners-carousel').slick({
            dots: false,
            infinite: true,
            autoplay: boolAutoplay,
            autoplaySpeed: speedPartners,
            slidesToShow: 5,
            draggable: true,
            arrows: false,
            swipeToSlide: true,
            responsive: [
                {
                  breakpoint: 768,
                  settings: {
                    autoplay: false,
                    slidesToShow: 2
                  }
                },
                {
                  breakpoint: 541,
                  settings: {
                    slidesToShow: 1
                  }
                },
                {
                  breakpoint: 769,
                  settings: {
                    slidesToShow: 2
                  }
                },
                {
                  breakpoint: 1025,
                  settings: {
                    slidesToShow: 3
                  }
                },
                {
                  breakpoint: 1300,
                  settings: {
                    slidesToShow: 4
                  }
                }
            ]
        });
    });
</script>
{% endblock %}