{% extends "admin-panel.html" %}

{% block adminblock %}
<p class="settings-title">{{title}}</p>
<div class="settings">
    <p>Список админов</p>
    <div class="settings-add">
        <a class="settings-element-add" href="/admin-create-admin">Добавить</a>
    </div>
    {% for admin in adminlist %}
    <div class="settings-element">
        {% if admin['id'] == current_id %}
        <p class="settings-element-title">{{admin['name']}} {{admin['surname']}} (Вы)</p>
        {% else %}
        <p class="settings-element-title">{{admin['name']}} {{admin['surname']}}</p>
        {% endif %}
        {% if flag %}
        {% if admin["status"] < status or admin["id"] == current_id %}
        <a class="settings-element-edit" href="/admin-change-password/{{admin['id']}}">Изменить пароль</a>
        <a class="settings-element-edit" href="/admin-edit-admin/{{admin['id']}}">Изменить</a>
        <a class="settings-element-delete" href="/admin-delete-admin/{{admin['id']}}">Удалить</a>
        {% endif %}
        {% endif %}
    </div>
    {% endfor %}
</div>
{% endblock %}
