{% extends "admin-panel.html" %}

{% block adminblock %}
<p class="settings-title">{{title}}</p>
<div class="settings">
    <p>Список участников</p>
    <div class="settings-add">
        <a class="settings-element-add" href="/admin-create-partner">Добавить</a>
    </div>
    {% for partner in partnerlist %}
    <div class="settings-element">
        <p class="settings-element-title">{{partner['name']}}</p>
        <a class="settings-element-edit" href="/admin-edit-partner/{{partner['id']}}">Изменить</a>
        <a class="settings-element-delete" href="/admin-delete-partner/{{partner['id']}}">Удалить</a>
    </div>
    {% endfor %}
</div>
{% endblock %}
